<DOCTYPE>
    <html:lang>
        <head>
            <meta charset="UTF-8" />
            <title>Form Data Recieved</title>
        </head>
        <body>
            <h1>Form Data Recieved</h1>
            <p>First Name: <%= formData.fname %></p>
            <p>Last Name: <%= formData.lname %></p>
            <p>Email: <%= formData.email %></p>
            <p>Password: <%= formData.pass %></p>
        </body>
    </html:lang>
</DOCTYPE>